* {
    box-sizing: border-box;
}

.card__wrapper {
    background-color: #282c34;
    width: 250px;
    min-height: 350px;
    border-radius: 5%;
    transition: all 0.3s;
    
    &:hover {
        transform: scale(1.1);
        transition: all 0.3s;
        cursor: pointer;
    }

    img {
        width: 100%;
        min-height: 250px;
        padding: 15px;
    }
}

.card__description {
    color: white;
    font-size: 20px;
    padding-left: 10px;
    h5 {
        font-weight: normal;
    }
}

.card__link {
    text-decoration: none;
}