// body {
//     background: url(../../../assets/images/characters.png) no-repeat center;
//     background-size: cover;
//     background-attachment: fixed;
// }

.characters {
    min-height: 100vh;
    display: grid;
}

.characters__header {
    margin-top: 100px;
    h1 {
        color: white;
        font-size: 60px;
        text-align: center;
        margin: 20px 20px 0px 20px;
    }
    h2 {
        color: white;
        font-size: 40px;
        margin-top: 20px;
        text-align: center;
    }
}

.characters__cards {
    display: grid;
    max-width: 70%;
    max-height: 350px;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
