.location {
    background: url(../../../assets/images/location.png) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: grid;
}