.user {
    // background: url(../../../assets/images/location.png) no-repeat center center fixed;
    // background-size: cover;
    // background-attachment: fixed;
    // min-height: 100vh;
    display: grid;
}

.user__header {
    margin-top: 100px;

    h1 {
        color: white;
        font-size: 60px;
        text-align: center;
        margin: 20px 20px 0px 20px;
    }
}

.user__form {
    margin-top: 50px;
    min-width: 1000px;
    height: 500px;
    background-color: #282c34;
    border-radius: 15px;

    h2 {
        display: flex;
        justify-content: center;
        color: #e1bf1f;
        font-size: 30px;
        padding: 20px;
    }

    form {
        margin-bottom: 25px;
    }
}

.avatarBlock {
    max-width: 250px;
    align-items: center;
    text-align: center;
}

.avatarInput {
    margin-bottom: 20px;
    position: relative;
    align-self: center;

    img {
        width: 186px;
        height: 186px;
        object-fit: cover;
        border-radius: 50%;
    }

    .circle {
        width: 186px;
        height: 186px;
        border-radius: 50%;
    }

    label {
        right: 23em !important;
        position: absolute;
        width: 48px;
        height: 48px;
        background: #312e38;
        border-radius: 50%;
        right: 0;
        bottom: 0;
        border: 0;
        cursor: pointer;
        transition: background-color 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            display: none;
        }

        svg {
            width: 20px;
            height: 20px;
            color: #f4ede8;
        }

        &:hover {
            background: blue;
        }
    }
}

.avatarButton {
    width: 80px;
    background-color: #e1bf1f;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #f3d25c;
        transition: .3s;
    }
    &:active {
        background-color: #cca106;
        transition: .3s;
    }
}

.account {
    display: flex;
}

.accountBlock {

    h3 {
        color: white;
        font-size: 25px;
        padding: 10px;
    }
}

.accountBlock__button {
    margin: 10px;
    width: 200px;
    height: 50px;
    background-color: #e1bf1f;
    font-size: 20px;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #f3d25c;
        transition: .3s;
    }
    &:active {
        background-color: #cca106;
        transition: .3s;
    }
}

@media screen and (max-width: 1023px) and (min-width: 640px) {
    .user__header {
        margin-top: 50px;
    }
    
    .user__form {
        margin-top: 50px;
        min-width: 500px;
        height: 400px;
        background-color: #282c34;
        border-radius: 15px;
    
        h2 {
            font-size: 20px;
            padding: 10px;
        }
    }
    
    .avatarInput {
        margin-bottom: 10px;
    
        img {
            width: 150px;
            height: 150px;
        }
    
        .circle {
            width: 150px;
            height: 150px;
        }
    }

    .accountBlock {
    
        h3 {
            font-size: 20px;
        }
    }

    .buttonBlock {
        display: flex;
    }
    
    .accountBlock__button {
        width: 150px;
    }
}

@media screen and (max-width: 639px) and (min-width: 360px) {
    .user__form {
        max-width: 500px;
        min-width: 360px;
        height: 500px;
    
        form {
            margin-bottom: 25px;
        }
    }
    
    .avatarBlock {
        max-width: 250px;
        align-items: center;
        text-align: center;
    }
    
    .avatarInput {
        margin-bottom: 20px;
        position: relative;
        align-self: center;
    
        img {
            width: 150px;
            height: 150px;
        }
    
        .circle {
            width: 150px;
            height: 150px;
        }
    
    }
    .accountBlock {
    
        h3 {
            font-size: 20px;
        }
    }
    
}

@media screen and (max-width: 359px) {
    .user__form {
        min-width: 250px;
        height: 500px;
    
        h2 {
            font-size: 20px;
            padding: 10px;
        }
    }

    .account {
        display: grid;
    }
    
    .avatarInput {
        margin-bottom: 10px;
    
        img {
            width: 150px;
            height: 150px;
        }
    
        .circle {
            width: 100px;
            height: 100px;
        }
    }

    .avatarButton {
        width: 100px;
        height: 50px;
        font-size: 15px;
    }

    .accountBlock {
    
        h3 {
            font-size: 15px;
        }
    }

    .buttonBlock {
        display: flex;
    }
    
    .accountBlock__button {
        width: 80px;
        font-size: 15px;
    }
}